<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="people"><i class="fa fa-reply" aria-hidden="true"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          A força está dentro de você!
        </li>
    </ul>

  </div>
</nav>

<table class=" center table text-white table-dark" *ngIf="people">
  <tbody>
    <tr>
      <td ><h1>{{people.name}} </h1></td>
    </tr>
    <tr>
      <td>Ano de Nacimento: {{people.birth_year}}</td>
    </tr>
    <tr>
      <td>Cor dos olhos: {{people.eye_color}}</td>
    </tr>
    <tr>
      <td>Gênero: {{people.gender}}</td>
    </tr>
    <tr>
      <td>Cor do cabelo: {{people.hair_color}}</td>
    </tr>
    <tr>
      <td>Altura: {{people.height}}</td>
    </tr>
    <tr>
      <td>Massa: {{people.mass}}</td>  
    </tr>
    <tr>
      <td>Cor da pele: {{people.skin_color}}</td>
    </tr>
    <tr>
      <td>Planeta: {{people.homeworld}}</td>  
    </tr>
    <tr *ngFor= "let films of people.films; let i = index">  
      <td>Filme {{i +1}} : {{films}}</td>
    </tr>
    <tr *ngFor= "let starships of people.starships; let i = index">  
      <td>Nave Espacial {{i +1}} : {{starships}}</td>
    </tr>
    <tr *ngFor= "let vehicles of people.vehicles; let i = index">  
      <td>Veiculo {{i +1}} : {{vehicles}}</td>
    </tr>
    <tr>
      <td>Url: {{people.url}}</td> 
    </tr>
    <tr>
      <td>Especies: {{people.species}}</td>
    </tr>
    <tr>
      <td>Data de Criação: {{people.created}}</td>
    </tr>
    <tr>
      <td>Data de Edição: {{people.edited}}</td>
    </tr>
  </tbody>
</table>