<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="home">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
        </li>
    </ul>

    <form  class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" (input)="getPesquisa($event)"
      [value]="termo" placeholder="Digite o planeta" aria-label="Search">

      <ul *ngIf="termo != ''" class="list-group" style="position:absolute; z-index: 999; top: 10vh;">  
        <li class="list-group-item" *ngFor="let perquisas of perquisa; let i = index">
            <a routerLink="/planets" (click)="onDetalhe(template,perquisas)">
            {{ perquisas.name }}
            </a>
          </li>
      </ul>
      
    </form>

    

  </div>
</nav>

<span >
  <h3 class="table-dark center p-2">LISTA DE PLANETAS</h3>  
</span>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Diâmetro</th>
      <th scope="col">População</th>
      <th scope="col">Detalhes</th>
    </tr>
  </thead>
  <tbody class="table-dark">
    <tr *ngFor="let planets of planet; let i = index ">
      <th scope="row">{{i+1}}</th>
      <td>
        {{planets.name}}
      </td>
      <td>{{planets.diameter}}</td>
      <td>{{planets.population}}</td>
      <td style="cursor:pointer" (click)="onDetalhe(template,planets)"> <i class="fa fa-search fa-2x"></i></td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{planetDetalhe.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class=" center table" *ngIf="planetDetalhe">
      <tbody>
        <tr>
          <td>Diâmetro: {{planetDetalhe.diameter}}</td>
        </tr>
        <tr>
          <td>Rotação: {{planetDetalhe.rotation_period}}</td>
        </tr>
        <tr>
          <td>Órbita: {{planetDetalhe.orbital_period}}</td>
        </tr>
        <tr>
          <td>Gravidade: {{planetDetalhe.gravity}}</td>
        </tr>
        <tr>
          <td>População: {{planetDetalhe.population}}</td>
        </tr>
        <tr>
          <td>Clima: {{planetDetalhe.climate}}</td>  
        </tr>
        <tr>
          <td>Terreno: {{planetDetalhe.terrain}}</td>
        </tr>
        <tr>
          <td>Superfície: {{planetDetalhe.surface_water}}</td>  
        </tr>
        <tr>
          <td>Recursos: {{planetDetalhe.residents}}</td> 
        </tr>
        <tr>
          <td>Filmes: {{planetDetalhe.films}}</td>
        </tr>
        <tr>
          <td>Url: {{planetDetalhe.url}}</td>
        </tr>
        <tr>
          <td>Data de Criação: {{planetDetalhe.created}}</td>
        </tr>
        <tr>
          <td>Data de Edição: {{planetDetalhe.edited}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>