<nav class="navbar menu navbar-expand-lg navbar-light mb-5">
  <a class="navbar-brand text-white font-dancing" routerLink="/"> 
    <i class="fa fa-home fa-2x"></i> CS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
      </li>
  </ul>

  <!--Pesquisa do personagem-->
  <form  class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" (input)="getPesquisa($event)"
    [value]="termo" placeholder="Digite o nome da Nave" aria-label="Search">

    <!--Listagem de personagem-->
    <ul *ngIf="termo != ''" class="list-group position-pesq">  
      <li class="list-group-item" *ngFor="let pesquisas of pesquisa; let i = index">
        <button class="btn btn-light" type="button" (click)="onDetalhe(template,pesquisas)">
          {{ pesquisas.name }}
        </button>
        </li>
    </ul>

  </form>
</div>
</nav>

<div class="container">

  <span >
    <h3 class="bg-gray-clear text-center text-white font-dancing p-2">Lista de Naves Espaciais</h3>  
  </span>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nave</th>
        <th scope="col">Modelo</th>
        <th scope="col">Passageros</th>
        <th scope="col">Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let starships of starship| paginate: { itemsPerPage: 5, currentPage: p }; let i = index ">
        <th scope="row">{{i+1}}</th>
        <td>
          {{starships.name}}
        </td>
        <td>{{starships.model}}</td>
        <td>{{starships.passengers}}</td>
        <td style="cursor:pointer" (click)="onDetalhe(template,starships)"> <i class="fa fa-search"></i></td>
      </tr>
    </tbody>
  </table>

  <pagination-controls 
    (pageChange)="p = $event"
     previousLabel="Anterior"
     nextLabel="Próximo"
     screenReaderPaginationLabel="Paginação"
     screenReaderPageLabel="página"
     screenReaderCurrentLabel="Você está na página">
  </pagination-controls>

</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{starshipDetalhe.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <table class=" center table" *ngIf="starshipDetalhe">
        <tbody>
          <tr>
            <td>Modelo: {{starshipDetalhe.model}}</td>
          </tr>
          <tr>
            <td>Classe: {{starshipDetalhe.starship_class}}</td>
          </tr>
          <tr>
            <td>Fabricante: {{starshipDetalhe.manufacturer}}</td>
          </tr>
          <tr>
            <td>Créditos Galácticos: {{starshipDetalhe.cost_in_credits}}</td>
          </tr>
          <tr>
            <td>Comprimento: {{starshipDetalhe.length}}</td>
          </tr>
          <tr>
            <td>Pilotos: {{starshipDetalhe.crew}}</td>  
          </tr>
          <tr>
            <td>Passageiros: {{starshipDetalhe.passengers}}</td>
          </tr>
          <tr>
            <td>Velocidade Máxima: {{starshipDetalhe.max_atmosphering_speed}}</td>  
          </tr>
          <tr>
            <td>Hiperdrive: {{starshipDetalhe.hyperdrive_rating}}</td> 
          </tr>
          <tr>
            <td>Megalights: {{starshipDetalhe.MGLT}}</td>
          </tr>
          <tr>
            <td>Capacidade: {{starshipDetalhe.cargo_capacity}}</td>
          </tr>
          <tr>
            <td>Consumo: {{starshipDetalhe.consumables}}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Filmes</td>
          </tr>
          <ng-container *ngFor= "let films of starshipDetalhe.films; let i = index" class="col-sm-12">
          <tr class="font-weight-bold">  
              <td> {{i +1}} - {{films.title}}</td>
          </tr>
          <tr>
            <td> Direção: {{ films.director }}</td>
          </tr>
          <tr>
            <td> Produção: {{ films.producer }}</td>
          </tr>
          <tr>
            <td> Link base <a [href]="films.url" target="_blank"> {{ films.url }} </a></td>
          </tr>
          </ng-container>
          <tr>
            <td>Data de Criação: {{starshipDetalhe.created}}</td>
          </tr>
          <tr>
            <td>Data de Edição: {{starshipDetalhe.edited}}</td>
          </tr>
          <tr>
            <td>Link base: {{starshipDetalhe.url}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>