<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="home">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
        </li>
    </ul>

    <!--Pesquisa da nave-->
    <form  class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" (input)="getPesquisa($event)"
      [value]="termo" placeholder="Digite o nome da nave" aria-label="Search">

      <!--Listagem da nave-->
      <ul *ngIf="termo != ''" class="list-group" style="position:absolute; z-index: 999; top: 10vh;">  
        <li class="list-group-item" *ngFor="let perquisas of perquisa; let i = index">
            <a routerLink="/starships" (click)="onDetalhe(template,perquisas)">
            {{ perquisas.name }}
            </a>
          </li>
      </ul>

    </form>

  </div>
</nav>

<span >
  <h3 class="table-dark center p-2">LISTA DE NAVES ESPACIAIS</h3>  
</span>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nave</th>
      <th scope="col">Modelo</th>
      <th scope="col">Passageros</th>
      <th scope="col">Detalhes</th>
    </tr>
  </thead>
  <tbody class="table-dark">
    <tr *ngFor="let starships of starship; let i = index ">
      <th scope="row">{{i+1}}</th>
      <td>
        {{starships.name}}
      </td>
      <td>{{starships.model}}</td>
      <td>{{starships.passengers}}</td>
      <td style="cursor:pointer" (click)="onDetalhe(template,starships)"> <i class="fa fa-search fa-2x"></i></td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{starshipDetalhe.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <table class=" center table" *ngIf="starshipDetalhe">
        <tbody>
          <tr>
            <td>Modelo: {{starshipDetalhe.model}}</td>
          </tr>
          <tr>
            <td>Classe: {{starshipDetalhe.starship_class}}</td>
          </tr>
          <tr>
            <td>Fabricante: {{starshipDetalhe.manufacturer}}</td>
          </tr>
          <tr>
            <td>Créditos Galácticos: {{starshipDetalhe.cost_in_credits}}</td>
          </tr>
          <tr>
            <td>Comprimento: {{starshipDetalhe.length}}</td>
          </tr>
          <tr>
            <td>Pilotos: {{starshipDetalhe.crew}}</td>  
          </tr>
          <tr>
            <td>Passageiros: {{starshipDetalhe.passengers}}</td>
          </tr>
          <tr>
            <td>Velocidade Máxima: {{starshipDetalhe.max_atmosphering_speed}}</td>  
          </tr>
          <tr>
            <td>Hiperdrive: {{starshipDetalhe.hyperdrive_rating}}</td> 
          </tr>
          <tr>
            <td>Megalights: {{starshipDetalhe.MGLT}}</td>
          </tr>
          <tr>
            <td>Capacidade: {{starshipDetalhe.cargo_capacity}}</td>
          </tr>
          <tr>
            <td>Consumo: {{starshipDetalhe.consumables}}</td>
          </tr>
          <tr>
            <td>Filmes: {{starshipDetalhe.films}}</td>
          </tr>
          <tr>
            <td>Url People: {{starshipDetalhe.pilots}}</td>
          </tr>
          <tr>
            <td>Url: {{starshipDetalhe.url}}</td>
          </tr>
          <tr>
            <td>Data de Criação: {{starshipDetalhe.created}}</td>
          </tr>
          <tr>
            <td>Data de Edição: {{starshipDetalhe.edited}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>