<!--Links menu principal-->
<div class="container bg-home d-flex flex-column align-items-center mt-custom">

  <div class="row justify-content-center">
    <h2 class="text-blue-clear mt-2 font-nunito font-weight-bold text-uppercase">Central StarWars</h2>
  </div>

  <div class="row justify-content-center">
    <h4 class="text-blue-clear font-dancing mt-2">
      Com o tempo aprenderás a confiar em teus instintos, então serás invencível!
    </h4>
  </div>

  <div class="row col-sm-12 justify-content-center">

    <div class="col-lg-2 col-md-4 col-sm-12 text-center">
      <button routerLink="/people" type="button" class="btn btn-home col-lg-12 col-md-10 font-nunito font-weight-bold text-uppercase">
        Personagens
      </button>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-12">
      <button routerLink="/filmes" type="button" class="btn btn-home col-md-10 font-nunito font-weight-bold text-uppercase">
        Filmes
      </button>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-12">
      <button routerLink="/especies" type="button" class="btn btn-home col-md-10 font-nunito font-weight-bold text-uppercase">
        Raças
      </button>
    </div>
    
    <div class="col-lg-2 col-md-4 col-sm-12">
      <button routerLink="/planets" type="button" class="btn btn-home col-md-10 font-nunito font-weight-bold text-uppercase">
        Planetas
      </button>
    </div>
    
    <div class="col-lg-2 col-md-4 col-sm-12">
      <button routerLink="/vehicles"type="button" class="btn btn-home col-md-10 font-nunito font-weight-bold text-uppercase">
        Veiculos
      </button>
    </div>
    
    <div class="col-lg-2 col-md-4 col-sm-12">
      <button routerLink="/starships" type="button" class="btn btn-home col-md-10 font-nunito font-weight-bold text-uppercase">
        Naves
      </button>
    </div>

  </div>
</div>
