<div class="container">
  <div class="row justify-content-center" style="margin-top: 50vh;">   
    <button routerLink="/people" type="button" class="btn btn-primary">Pessoas</button>
    <button routerLink="/filmes" type="button" class="btn btn-primary">Filmes</button>
    <button routerLink="/especies" type="button" class="btn btn-primary">Raças</button>
    <button routerLink="/planets" type="button" class="btn btn-primary">Planetas</button>
    <button routerLink="/vehicles"type="button" class="btn btn-primary">Veiculos</button>
    <button routerLink="/starships" type="button" class="btn btn-primary">Naves</button>
  </div>
</div>
