@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,900;1,300&display=swap');

.bg-home {
    background-color: #0000008a;
}

.mt-custom {
    margin-top: 30vh;
}

.btn{
    margin: 10px;
}

.btn:hover{
    color: #a6fbff;
    border-bottom: 1px solid rgba(150, 145, 145,0.3);
}

.btn-home{
    color:#fff;
    border-bottom: 1px solid white;
    border-width: 0.2em;
}
